NET "col_button<0>" LOC=P51 | IOSTANDARD = LVTTL | PULLDOWN;
NET "col_button<1>" LOC=P41 | IOSTANDARD = LVTTL | PULLDOWN;
NET "col_button<2>" LOC=P35 | IOSTANDARD = LVTTL | PULLDOWN;
NET "col_button<3>" LOC=P33 | IOSTANDARD = LVTTL | PULLDOWN;
NET "col_button<4>" LOC=P30 | IOSTANDARD = LVTTL | PULLDOWN;
NET "col_button<5>" LOC=P27 | IOSTANDARD = LVTTL | PULLDOWN;
NET "col_button<6>" LOC=P24 | IOSTANDARD = LVTTL | PULLDOWN;
NET "col_button<7>" LOC=P22 | IOSTANDARD = LVTTL | PULLDOWN;

NET "row_button<0>" LOC=P21 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row_button<1>" LOC=P23 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row_button<2>" LOC=P26 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row_button<3>" LOC=P29 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row_button<4>" LOC=P32 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row_button<5>" LOC=P34 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row_button<6>" LOC=P40 | IOSTANDARD = LVTTL | PULLDOWN;
NET "row_button<7>" LOC=P50 | IOSTANDARD = LVTTL | PULLDOWN;

NET "toggle_button" LOC=P124 | IOSTANDARD = LVTTL | PULLDOWN;
NET "check_button"  LOC=P127 | IOSTANDARD = LVTTL | PULLDOWN;
NET "reset_button"  LOC=P132 | IOSTANDARD = LVTTL | PULLDOWN;