NET "a" LOC = P50 | IOSTANDARD = LVTTL | PULLDOWN;
NET "b" LOC = P40 | IOSTANDARD = LVTTL | PULLDOWN;
NET "c" LOC = P34 | IOSTANDARD = LVTTL | PULLDOWN;
NET "out1" LOC = P32 | IOSTANDARD = LVTTL | PULLDOWN;
NET "out2" LOC = P29 | IOSTANDARD = LVTTL | PULLDOWN;