NET "a" LOC = P50;
NET "a" IOSTANDARD = LVTTL;
NET "a" PULLDOWN;
NET "b" LOC = P40;
NET "b" IOSTANDARD = LVTTL;
NET "b" PULLDOWN;
NET "c" LOC = P34;
NET "c" IOSTANDARD = LVTTL;
NET "c" PULLDOWN;
NET "out1" LOC = P32;
NET "out1" IOSTANDARD = LVTTL;
NET "out1" PULLDOWN;
NET "out2" LOC = P29;
NET "out2" IOSTANDARD = LVTTL;
NET "out2" PULLDOWN;
